<html>
<head>
    <title>Game Result</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Sayangnya...</h1>
        <p>{{ result }}</p>
        <img src="static/image/semangat.jpg" widht="400" height="300">
        <p></p>
        <a class="tombol" href="/play">Giliranmu</a>
        <p></p>
        <img src="static/image/panik.jpg" widht="400" height="300">
        <p></p>
        <a class="tombol" href="/reroll">Putar silinder</a>
        <p></p>
        <img src="static/image/curang.jpg" widht="400" height="300">
        <p></p>
        <a class="tombol" href="/cheat">CURANG??</a>
    </div>
    <audio controls autoplay src="static/audio/clik.mp3">
</body>
</html>
