<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Anda dapat giliran pertama</h1>
        <p></p>
        <img src="{{filegif}}" widht="400" height="300">        
        <p></p>
        <a class="tombol" href="/play" class="tombol">Silahkan tarik pelatuknya</a>
        <br><br>
        <a class="tombol" href="/cheat" class="tombol">CURANG??</a>
    </div>
    <audio controls autoplay src="static/audio/coin.mp3">
</body>
</html>
