<html>
<head>
    <title>Hasil lempar koin</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h2>Dengan diputarnya silinder, urutan peluru diacak kembali.</h2>
        <p></p>
        <img src="static/image/bantai.jpg" widht="400" height="300">
        <p></p>
        <a class="tombol" href="/lanjut">Lanjut</a>
    </div>
    <audio controls autoplay src="static/audio/reroll.mp3">
</body>
</html>
